* {box-sizing: border-box;}

// Cброс стилей

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.05em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/////

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1600;
  min-height: 900px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: $dark-color;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 42px;
  padding: 0 22px;
  color: $light-color;
  border: 1px solid $dark-color;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    top: 6px;
    left: 6px;
    z-index: -1;
    transition: all ease .3s;
  }

  &:hover::before {
    background-color: $accent-color;
    top: 0;
    left: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 1000px) {
  body {
    min-height: auto;
    padding: 0 20px;
  }
}

@media (max-width: 560px) {body {padding: 0 10px;}}